#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

#nav a {
    font-weight: bold;
    color: #2c3e50;
}

#nav a.router-link-exact-active {
    color: #42b983;
}

.p-0 {
    padding: 0 !important;
}

.sidebar {
    width: 14rem;
    min-height: 100vh;
    background-color: #8fd4c1;
}

.nav-button {
    border-radius: 0;
    width: 100%;
    background-color: gray;
}

.nav-button:active,
.nav-button:focus,
.nav-button:hover {
    outline-style: none !important;
    background-color: #545b62;
}

.border-end {
    border-right: 1px solid #dee2e6;
}

.router-link-exact-active .nav-button {
    background-color: #545b62;
}

.speedometerDiv {
    margin-top: -30px;
    margin-bottom: -10px;
}

.speedometerDivInner {
    margin-bottom: -100px;
}

.itemsPerMinute {
    min-width: 30px;
    background-color: antiquewhite;
    text-align: center;
}

.accordion-button {
    border: none!important;
    color:black!important;
    box-shadow: 0 0 0 0!important;
}

strong.AccordionHeaderState {
    min-width: 86px;
    text-align: end;
}

@media (max-width: 768px) {
    .sidebar {
        width: 6.5rem !important;
    }
    .logoPMZ {
        width: 100px;
    }
    .nav-button {
        width: 6.5rem;
        height: 100px;
    }
    .logoCard {
        width: 6.5rem !important;
        padding-left: 0 !important;
    }
    .main-content {
        padding-left: 0.1rem !important;
        padding-right: 0.1rem !important;
    }
    .innerContent {
        margin-left: -22px;
    }
}

.align-items-start {
    align-items: flex-start !important;
}

#wrapper {
    overflow-x: hidden;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    transition: margin 0.25s ease-out;
    position: fixed;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
    transition: margin-left 0.2s ease-in-out;
}

body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
    margin-left: 0;
}

body.sb-sidenav-toggled #wrapper #page-content-wrapper {
    margin-left: 15rem;
    transition: margin-left 0.2s ease-in-out;
}

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none!important;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }
    #fakeSidebar {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: calc(100% - 15rem);
        position: absolute;
        top: 57px;
        right: 0;
        transition: width 0.2s ease-in;
    }

    #header-menu {
        width: calc(100% - 15rem);
        position: fixed;
        top: 0;
        right: 0;
        transition: width 0.2s ease-in;
    }

    body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
        margin-left: -15rem;
    }

    body.sb-sidenav-toggled #wrapper #page-content-wrapper {
        width: 100%;
        transition: width 0.25s ease-out;
    }

    body.sb-sidenav-toggled #wrapper #header-menu {
        width: 100%;
        transition: width 0.25s ease-out;
    }
}

/* логика деления на столбцы  */
ul li {
    float: left;
    width: 33%;
    text-align: left;
}

li.nostyle {
    list-style-type: none;
}

ul li.checkboxesAccordion {
    width: 7%;
}

ul li.checkboxesManage {
    width :25%
}

/* покрас  */

.greenClass {
    background-color: #77e06b!important;
}
.redClass {
    background-color: lightcoral!important;
}
.greyClass {
    background-color: grey!important;
}

.greenText {
    color: green!important;
}

.redText {
    color: red;
}

@media (max-width: 1343px) {
    ul li {
        width: 50%;
    }
    ul li.checkboxesAccordion {
        width: 10%;
    }
    ul li.checkboxesManage {
        width :33%
    }
}

@media (max-width: 1000px) {
    ul li {
        width: 100%;
    }
    ul li.checkboxesAccordion {
        width: 25%;
    }
    ul li.checkboxesManage {
        width :50%
    }
}


/* dashboard  */

#customCardDashboard {
    margin: 5px;
    border-radius: 5px;
    min-width: 14rem;
    height: 14rem;
    transition: all 0.15s ease-in-out;
}

#customCardDashboard:hover {
    z-index: 999;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    transition: all 0.15s ease-in-out;
}

.toast-alerts {
    position: fixed;
    display: block;
    z-index: 9999;
    right: 22px;
    bottom: 22px;
}


@media (max-width: 1343px) {
    #customCardDashboard {
        min-width: 9rem!important;
    }
}

/* statistics */
.btn:focus {
    outline: none;
}

.v3dp__datepicker {
    width: auto!important;
}

.datepicker {
    width: 280px;
    text-align: center;
    height: 38px;
    font-size: 25px;
}

#titleWithDate {
    width: auto;
    margin: auto;
    text-align: center;
}

#buttonSwitch {
    max-width: 50%;
}

@media (max-width: 892px) {
    #buttonSwitch {
        min-width: 304px;
    }
}

.app-spinner {
    position: relative;
    top: 100px;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
}

.app-spinner:focus {
    outline: none;
}

.app-spinner-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: contain;
    animation: spinnerAnimation 0.6s infinite linear;
    background-image: url("/public/spinner-icon.svg");
}

.app-spinner-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
}

.app-spinner--fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    overflow: hidden;
}

@keyframes spinnerAnimation {
    0% {
        transform: translate(-50%, -50%) rotate(0);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
