#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

#nav a {
    font-weight: bold;
    color: #2c3e50;
}

#nav a.router-link-exact-active {
    color: #42b983;
}

.p-0 {
    padding: 0 !important;
}

.sidebar {
    width: 14rem;
    min-height: 100vh;
    background-color: #8fd4c1;
}

.nav-button {
    border-radius: 0;
    width: 100%;
    background-color: gray;
}

.nav-button:active,
.nav-button:focus,
.nav-button:hover {
    outline-style: none !important;
    background-color: #545b62;
}

.border-end {
    border-right: 1px solid #dee2e6;
}

.router-link-exact-active .nav-button {
    background-color: #545b62;
}

.speedometerDiv {
    margin-top: -30px;
    margin-bottom: -10px;
}

.speedometerDivInner {
    margin-bottom: -100px;
}

.itemsPerMinute {
    min-width: 30px;
    background-color: antiquewhite;
    text-align: center;
}

.accordion-button {
    border: none!important;
    color:black!important;
    box-shadow: 0 0 0 0!important;
}

strong.AccordionHeaderState {
    min-width: 86px;
    text-align: end;
}

@media (max-width: 768px) {
    .sidebar {
        width: 6.5rem !important;
    }
    .logoPMZ {
        width: 100px;
    }
    .nav-button {
        width: 6.5rem;
        height: 100px;
    }
    .logoCard {
        width: 6.5rem !important;
        padding-left: 0 !important;
    }
    .main-content {
        padding-left: 0.1rem !important;
        padding-right: 0.1rem !important;
    }
    .innerContent {
        margin-left: -22px;
    }
}

.align-items-start {
    align-items: flex-start !important;
}

#wrapper {
    overflow-x: hidden;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
    margin-left: 0;
}

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none!important;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }
    #fakeSidebar {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
        margin-left: -15rem;
    }
}

/* логика деления на столбцы  */
ul li {
    float: left;
    width: 33%;
    text-align: left;
}

li.nostyle {
    list-style-type: none;
}

ul li.checkboxesAccordion {
    width: 7%;
}

ul li.checkboxesManage {
    width :25%
}

/* покрас  */

.greenClass {
    background-color: #77e06b!important;
}
.redClass {
    background-color: lightcoral!important;
}
.greyClass {
    background-color: grey!important;
}

.greenText {
    color: green!important;
}

.redText {
    color: red;
}

@media (max-width: 1343px) {
    ul li {
        width: 50%;
    }
    ul li.checkboxesAccordion {
        width: 10%;
    }
    ul li.checkboxesManage {
        width :33%
    }
}

@media (max-width: 1000px) {
    ul li {
        width: 100%;
    }
    ul li.checkboxesAccordion {
        width: 25%;
    }
    ul li.checkboxesManage {
        width :50%
    }
}


/* dashboard  */

#customCardDashboard {
    min-width: 14rem;
    height: 14rem;
    margin: auto;
}

.toast-alerts {
    position: fixed;
    display: block;
    z-index: 9999;
    right: 22px;
    bottom: 22px;
}


@media (max-width: 1343px) {
    #customCardDashboard {
        min-width: 9rem!important;
    }
}

/* statistics */

.v3dp__datepicker {
    width: auto!important;
}

.datepicker {
    width: 280px;
    text-align: center;
    height: 38px;
    font-size: 25px;
}

#titleWithDate {
    width: auto;
    margin: auto;
    text-align: center;
}

#buttonSwitch {
    max-width: 50%;
}

@media (max-width: 892px) {
    #buttonSwitch {
        min-width: 304px;
    }
}
